<div style="margin-top:20px;"></div>
<ul class="nav nav-tabs">
    <li role="presentation">@Html.ActionLink("Videos", "VideoList", "Videos")</li>
    <li role="presentation">@Html.ActionLink("Suggest a Video", "Create", "Videos")</li>
</ul>
